header{
    background-color: brown;
    color: white;
    padding: 2%;
    text-align: center;
}

section{
    display: grid;
    grid-template-columns: 30% 40% 30%;
    width: 80%;
    margin: 0 auto;
}

section div{
    text-align: center;
    border-bottom: 1px solid black;
}

p{
    padding: 1%;
    display: inline-block;
    font-size: 14PX;
    text-align: left;
}

.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

button{
    width: 80px;
    height: 60px;
    padding: 2%;
    margin: 2% 0 2% 0;
    background-color: brown;
    border: none;
    color: white;
}

button:hover{
    background-color: #ffE6A7;
    font-weight: bolder;
    color: brown;
}

h5{
    color: brown;
}

@media only screen and (max-width: 600px) {

    section div{
        width: 90%;
        margin: 0 auto;
        grid-column: 1 / span 3;
    }
  }