header{
    background-color: brown;
    color: white;
    padding: 2%;
    text-align: center;
}

section{
    display: grid;
    grid-template-columns: 28% 44% 28%;
    margin: 0 auto;
    padding: 1%;
    border-bottom: 1px solid black;
}

section:nth-of-type(7){
    border-bottom: none;
}

div{
    text-align: center;
}

p{
    width: 80%;
    padding: 4%;
    display: inline-block;
    font-size: 14PX;
    text-align: center;
    border: 3px dashed blue;
}

select{
    color: black;
    display: inline;
    margin: 2%;
    padding: 2%;
}

input{
    margin: 1% 6%;
    padding: 2%;
}

.button-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

button{
    width: 80px;
    height: 60px;
    padding: 2%;
    margin: 2% 0 2% 0;
    background-color: brown;
    border: none;
    color: white;
}

button:hover{
    background-color: #ffE6A7;
    font-weight: bolder;
    color: brown;
}

h3{
    display: inline-block;
}

h5{
    color: brown;
}

a{
    margin-left: 5%;
}

img{
    width: 300px;
    height: 300px;
}

#demo7{
    display: none;
}

#demo8{
    display: none;
}

#demo9{
    display: none;
}

div .norml{
    border: none !important;
    background-color: white;
    color: black;
    width: auto;
    height: auto;

}

@media only screen and (max-width: 600px) {

    section div{
        width: 90%;
        margin: 0 auto;
        grid-column: 1 / span 3;
    }
  }